html,
body {
  background-color: aliceblue;
  margin: 0 20% 0 20%;
}

.headline-container {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  text-align: center;
  color: #172b4d;

}

.headline-container-pos {
  color: #36b37e;
}

.headline-container-para {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  color: black;
  line-height: 140%;
  font-size: 40px;
}

.flex-cointainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.menu {
  width: 351px;
  height: 181;
  border-radius: 8px;

}

.menu-list {
  font-family: "inter", sans-serif;
  font-size: 32px;
  line-height: 137%;
  font-weight: 600;

}